@import "../../styles/variables.scss";

.dashboard {

  &-cards {
    .ant-card {
      height: 100%;
    }

    .ant-card-head {
      background-color: #dbeefa;
    }

    &__detail {
      display: flex;
      align-items: baseline;
    }

    &__count {
      font-size: 24px;
      flex-grow: 1;
      margin: 0;
    }

    &__percentage {
      text-align: right;
      display: flex;

      p {
        margin: 0;
      }
    }

    &__increased {
      color: $dark-green;
      font-size: 20px;
    }

    &__decreased {
      color: red;
      font-size: 20px;
    }
  }

  &.section1 {
    margin-bottom: 30px;

    .card {
      padding: 10px;
      border: 1px solid #dedada;
      border-radius: 7px;
      height: 100%;

      &-heading {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
      }

      &-title {
        color: #545454;
      }

      &-icon {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;

        .anticon {
          font-size: 18px;
        }
      }

      &-row {
        margin-bottom: 10px;
      }

      .card-detail1 {
        width: 60%;
        font-weight: 500;
        font-size: 16px;
      }

      .card-detail2 {
        font-weight: 500;
        font-size: 16px;
      }

      .card-detail3 {
        font-size: 12px;

        .cards-increased {
          color: $dark-green;
        }

        .cards-decreased {
          color: red;
        }
      }

      &.carousel{
        background-color: #f6faec;
        border: 1px solid #83bb32;
      }

      .ant-carousel,
      .slick-slider {
        height: 100%;
        text-align: center;
      }

      .slick-dots {
        button {
          background-color: $dark-green;
        }
      }

      .carousel-title {
        margin-bottom: 10px;
      }

      .carousel-subtitle {
        font-size: 12px;
      }
    }

    // .card{
    //     .title{
    //         font-size: 18px;
    //         font-weight: bold;
    //         margin-bottom: 20px;
    //     }

    //     .ant-card-body{
    //         height: 73%;
    //     }

    //     .ant-carousel, .slick-slider{
    //         height: 100%;
    //         text-align: center;
    //     }

    //     .card-detail1{
    //         width: 56%;
    //         // font-size: 16px;
    //     }

    //     .card-detail2{
    //         // font-size: 16px;
    //     }

    //     .card-detail3{
    //         font-size: 14px;

    //         .cards-increased{
    //             color: $dark-green;
    //         }

    //         .cards-decreased{
    //             color: red;
    //         }
    //     }

    //     .slick-dots{
    //         button{
    //             background-color: $dark-blue;
    //         }
    //     }

    //     .carousel-title{
    //         margin-bottom: 10px;
    //     }

    //     .carousel-subtitle{
    //         font-size: 12px;
    //     }
    // }
  }

  &.section2 {
    iframe {
      height: 100%;
      width: 100%;
    }

    .ant-card-body {
      padding: 0;
    }
  }
}
