$eoa-primary: #1D3E8F;
$eoa-primary-light: #D7E0f8;

$eoa-secondary: #EC7404;
$eoa-secondary-dark: #D66A03;

$eoa-grey: #8B8B8B;

$dark-blue: #003C7D;
$light-blue: #057ECD;
$dark-green: #78B829;
$light-green: #BBCF00;
